body {
    margin: 0 !important;
    padding: 0 !important;
}

nav {
    background: linear-gradient(to right, #488f32, #6eca51) fixed !important;
}

.sidebarText {
    color: #868686;
}

.bold {
    font-weight: 500;
}

nav li {
    font-weight: 600;
}

* {
    font-family: 'Poppins', sans-serif;
}

.brand-logo {
    font-family: 'Damion', cursive;
    font-size: 3em !important;
}

.sidenav .btn {
    width: 80%;
    margin-top: 2em;
}

.input-field input:focus+label {
    color: #868686 !important;
}

.input-field input:focus,
.input-field textarea:focus {
    border-bottom: 1px solid #868686 !important;
    box-shadow: none !important;
}

.input-field textarea {
    border: 1px solid #868686 !important;
    height: 20vh !important;
}

.btn,
.sidenav-trigger {
    color: white;
    font-weight: 600 !important;
}

.btn {
    background: #6bd14c !important;
    transition: 0.18s ease-in;
    border: 2px solid white !important;
    box-shadow: none !important;
}

.btn:hover {
    color: #6bd14c !important;
    background: white !important;
    border: 2px solid #6bd14c !important;
}

.tabs .tab a {
    color: #57ac3e !important;
    background-color: #57e02d38 !important;
}

.tabs .tab a:hover {
    background-color: #48bd2438 !important;
}

.tabs .tab a:focus {
    background-color: #5faf4738 !important;
    color: #727272 !important;
}

.tabs .indicator {
    background-color: #70d651 !important;
}

main {
    margin-top: 4em;
}

main div div h3 {
    color: #488f32;
}

main div div p {
    color: #727272;
}

.image-container img {
    width: 10em !important;
    height: 10em !important;
    border-radius: 100%;
    aspect-ratio: 1 !important;
    margin: 3em;
    margin-top: 0 !important;
}

.user-info p {
    font-size: 1.5em;
    color: #488f32;
    display: inline-block;
}

.user-info h6 {
    font-size: 1.5em;
    color: #727272;
    display: inline-block;
    margin-left: .5em;
}

#bio {
    display: block;
}

#editBtn {
    color: #488f32;
    background: none;
    box-shadow: none;
    height: fit-content;
}

#editBtn i {
    font-size: 2.7em;
}

.desc p {
    font-size: 1.7em;
}

.big-btn {
    font-size: 1.5em !important;
    width: max-content;
    padding-top: 0.5em !important;
    padding-bottom: 2em !important;
    display: inline-block !important;
    margin: 10vh;
}

.prefix {
    color: #4c9436 !important;
    transform: scaleX(-1);
}

.collapsible-body span p label span {
    color: #727272 !important;
    font-size: 1.4em !important;
}

.collapsible-header {
    color: #488f32 !important;
    font-size: 1.6em;
}

.collapsible {
    box-shadow: none !important;
}

img[post-img] {
    width: 95% !important;
    border-radius: .6rem;
}

.post {
    background: linear-gradient(to top left, #2b611b, #9fe789) fixed;
    color:white;
    border-radius: .275em;
    transition: .15s ease-in;
}

p[title]{
    font-size: 1.2em;
    font-weight: 600;
}

p[phone], p[email]{
    display: inline !important;
    margin-left: 1em;
    margin-right: 1em;
}

[owner] p{
    display: inline-block;
}

a>[owner]{
    color:white;
}

[owner-img]{
    width:100%;
    border-radius: 100%;
    transition: .15s ease-in;
}
a>[owner]:hover div>[owner-img]{
    width: 110%;
}